<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JPADSandBox/src/sandbox/vt/AGILE_Test/AGILE_Test_HighLift_Landing.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="Path" value="c:\Users\Vittorio\ADOPT_PROJECT\jpad\libraries\hdf\"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sandbox.vt.AGILE_Test.AGILE_Test_HighLift_Landing"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-i in/HighLiftDevices_TestAGILE_Landing_input.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JPADSandBox"/>
</launchConfiguration>
