<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JPADSandBox/src/sandbox/mr/HighLiftStallPath/Test_HighLiftStallPath.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="MMGT_OPT" value="0"/>
<mapEntry key="Path" value="C:\Users\manue\ADOPT_PROJECT\jpad\libraries\hdf"/>
<mapEntry key="occjavaDir" value="C:\Users\manue\ADOPT_PROJECT\jpad\libraries\occjava\Win64"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sandbox.mr.HighLiftStallPath.Test_HighLiftStallPath"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-i C:\Users\manue\ADOPT_PROJECT\jpad\JPADSandBox\in\HighLiftStallPath.xml -d C:\Users\manue\ADOPT_PROJECT\jpad\JPADSandBox\data"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JPADSandBox"/>
</launchConfiguration>
