# This the launcher properties file for the Install Agent
# All path separators in this file should be designated by front slashes '/'
jarfile=installagent.jar
mainclass=com/mathworks/installagent/InstallAgentLauncher
pathlistjar=java/config/installagent/pathlist.jar
copyToTemp=0
uninstallmainclass=com/mathworks/installagent/uninstall/MCRUninstallerLauncher
useuninstallroot=1