!*.dll
!*.lib
!*.pdb
/JPADCore_v2/.apt_generated/*
/.metadata/
*.class
/JPADCore/bin/
/JPADSandbox/bin/
/JPADConfigs/bin/
/JPADCore_v2/bin/
/JPADSandbox_v2/bin/
/JPADSandbox_v2/out/IRON
/JPADSandbox_v2/out/IRON_NEW
/JPADSandbox_v2/out/_IRON_LOOP1
/JPADSandbox_v2/out/IRON_LOOP1_UPDATED
/JPADSandbox_v2/out/IRON_CANARD
/JPADSandbox_v2/out/IRON_NO_CANARD_OPT_no_cut
/JPADSandbox_v2/out/IRON_NO_CANARD_OPT_cut
/JPADSandbox_v2/data/Normalized_TurboProp_100%Cruise_ISA0.h5
/JPADSandbox_v2/data/Normalized_TurboProp_100%Cruise_ISA10.h5
/JPADSandbox_v2/data/Normalized_TurboProp_100%Cruise_ISA30.h5
/JPADSandbox_v2/data/Normalized_TurboProp_100%Cruise_ISA40.h5
/JPADSandbox_v2/data/Normalized_TurboProp_95%Cruise_ISA0.h5
/JPADSandbox_v2/data/Normalized_TurboProp_95%Cruise_ISA10.h5
/JPADSandbox_v2/data/Normalized_TurboProp_95%Cruise_ISA30.h5
/JPADSandbox_v2/data/Normalized_TurboProp_95%Cruise_ISA40.h5
/JPADSandbox_v2/data/Normalized_TurboProp_75%Cruise_ISA0.h5
/JPADSandbox_v2/data/Normalized_TurboProp_75%Cruise_ISA10.h5
/JPADSandbox_v2/data/Normalized_TurboProp_75%Cruise_ISA30.h5
/JPADSandbox_v2/data/Normalized_TurboProp_75%Cruise_ISA40.h5
/JPADSandbox_v2/data/Normalized_TurboProp_40%Cruise_ISA0.h5
/JPADSandbox_v2/data/Normalized_TurboProp_40%Cruise_ISA10.h5
/JPADSandbox_v2/data/Normalized_TurboProp_40%Cruise_ISA30.h5
/JPADSandbox_v2/data/Normalized_TurboProp_40%Cruise_ISA40.h5
/JPADSandbox_v2/data/Normalized_TurboProp_ISA0_v2.h5
/JPADSandbox_v2/data/Normalized_TurboProp_ISA10_v2.h5
/JPADSandbox_v2/data/Normalized_TurboProp_ISA30_v2.h5
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_100%Cruise_ISA0.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_100%Cruise_ISA10.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_100%Cruise_ISA30.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_100%Cruise_ISA40.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_95%Cruise_ISA0.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_95%Cruise_ISA10.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_95%Cruise_ISA30.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_95%Cruise_ISA40.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_75%Cruise_ISA0.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_75%Cruise_ISA10.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_75%Cruise_ISA30.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_75%Cruise_ISA40.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_40%Cruise_ISA0.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_40%Cruise_ISA10.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_40%Cruise_ISA30.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_40%Cruise_ISA40.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_ISA0_v2.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_ISA10_v2.xml
/JPADSandbox_v2/data/serializedDatabase/Normalized_TurboProp_ISA30_v2.xml