<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JPADSandBox_v2/src/sandbox2/vt/analyses/CompleteAnalysisTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="Path" value="${build_files}${JPAD_ROOT}\libraries\hdf"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sandbox2.vt.analyses.CompleteAnalysisTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-i in/Template_Aircraft/aircraft_IRON.xml &#13;&#10;-ia in\Template_Analyses\analysis_ATR72.xml &#13;&#10;-ioc in\Template_Analyses\operating_conditions_ATR72.xml &#13;&#10;-da in/Template_Aircraft/lifting_surfaces/airfoils &#13;&#10;-df in/Template_Aircraft/fuselages &#13;&#10;-dls in/Template_Aircraft/lifting_surfaces &#13;&#10;-de in/Template_Aircraft/engines &#13;&#10;-dn in/Template_Aircraft/nacelles &#13;&#10;-dlg in/Template_Aircraft/landing_gears &#13;&#10;-ds in/Template_Aircraft/systems &#13;&#10;-dcc in/Template_Aircraft/cabin_configurations"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JPADSandBox_v2"/>
</launchConfiguration>
