<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JPADReportSandbox"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="Path" value="${build_files}${JPAD_ROOT}\libraries\hdf;${MATLAB_RUNTIME_ROOT}\bin\win64"/>
</mapAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_ENCODING" value="ISO-8859-1"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="it.unina.daf.jpad.report.test.Test03"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-mwd ${JPAD_ROOT}/JPADReport/matlab/dev&#13;&#10;-i ${JPAD_ROOT}/JPADSandBox_v2/in/Template_Aircraft/aircraft_ATR72.xml &#13;&#10;-ia ${JPAD_ROOT}/JPADSandBox_v2/in/Template_Analyses/analysis_ATR72.xml &#13;&#10;-ioc ${JPAD_ROOT}/JPADSandBox_v2/in/Template_Analyses/operating_conditions_ATR72.xml &#13;&#10;-db ${JPAD_ROOT}/JPADSandBox_v2/data &#13;&#10;-da ${JPAD_ROOT}/JPADSandBox_v2/in/Template_Aircraft/lifting_surfaces/airfoils &#13;&#10;-df ${JPAD_ROOT}/JPADSandBox_v2/in/Template_Aircraft/fuselages &#13;&#10;-dls ${JPAD_ROOT}/JPADSandBox_v2/in/Template_Aircraft/lifting_surfaces &#13;&#10;-de ${JPAD_ROOT}/JPADSandBox_v2/in/Template_Aircraft/engines &#13;&#10;-dn ${JPAD_ROOT}/JPADSandBox_v2/in/Template_Aircraft/nacelles &#13;&#10;-dlg ${JPAD_ROOT}/JPADSandBox_v2/in/Template_Aircraft/landing_gears&#13;&#10;-dcc ${JPAD_ROOT}/JPADSandBox_v2/in/Template_Aircraft/cabin_configurations"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JPADReportSandbox"/>
</launchConfiguration>
