/bin/
/data/Normalized_TurboProp_100%Cruise_ISA0.h5
/data/Normalized_TurboProp_100%Cruise_ISA10.h5
/data/Normalized_TurboProp_100%Cruise_ISA30.h5
/data/Normalized_TurboProp_100%Cruise_ISA40.h5
/data/Normalized_TurboProp_95%Cruise_ISA0.h5
/data/Normalized_TurboProp_95%Cruise_ISA10.h5
/data/Normalized_TurboProp_95%Cruise_ISA30.h5
/data/Normalized_TurboProp_95%Cruise_ISA40.h5
/data/Normalized_TurboProp_75%Cruise_ISA0.h5
/data/Normalized_TurboProp_75%Cruise_ISA10.h5
/data/Normalized_TurboProp_75%Cruise_ISA30.h5
/data/Normalized_TurboProp_75%Cruise_ISA40.h5
/data/Normalized_TurboProp_40%Cruise_ISA0.h5
/data/Normalized_TurboProp_40%Cruise_ISA10.h5
/data/Normalized_TurboProp_40%Cruise_ISA30.h5
/data/Normalized_TurboProp_40%Cruise_ISA40.h5
/out/IRON